*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(OIP.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block;

}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}
.logo img{
	float: left;
	width: 130px;
	height: auto;
}

.main{
	max-width: 1200px;
	margin: auto;
}

.title{
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: darkred;
	font-size: 70px;
}

.button{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.btn{
	border: 2px solid transparent;
	padding: 10px 30px;
	color: #fff;
	text-decoration: none;
	transition: 0.5s ease;
}

.btn hover{
	background-color: pink;
	color: black;
}